<div class="item">
    <div class="image">
        <img src="{{this.imageURL}}">
    </div>
    <div class="content">
        <a>
            <h1 href="" class="ui blue header">{{this.name}}</h1>
        </a>
        <div class="meta">
            <span>{{this.meta}}</span>
        </div>
        <div class="description">
            <p> {{this.description}} </p>
        </div>
        <div class="extra">
            {{#each this.labels}}
                {{addLabels}}
            {{/each}}
            <a href="{{this.projectURL}}"
               class="ui right floated blue button">
                Download
            </a>
        </div>
    </div>
</div>